{% extends "layout.html" %}
{% block content %}
<!-- <div class="row border border-dark rounded m-4">
  <h2 class="col m-2 text-center">{{current_user.type}} {{current_user.name}}</h2>
</div> -->
<div class="row m-4">
  <div class="col-4">
    <div class="row content-section border border-dark rounded">
      <div class="col m-3">

        <div class="pb-2 border-bottom border-dark">
          <h2 class="account-heading">{{current_user.display_name}}</h2>
          <div class="text-secondary">{{current_user.real_id}}</div>
          <div class="text-secondary">{{current_user.role}} Account</div>
        </div>
        <div class="pt-2">
          {% for label,value in current_user.display_profile.items() %}
          <div class="account-heading">{{label}}</div>
          <p class="text-secondary">{{value}}</p>
          {% endfor %}
        </div>
        {% if current_user.role == 'Customer' %}
        <div class="text-right">
          <a class="btn btn-dark" href="{{url_for('edit_account')}}" role="button">Edit Profile</a>
        </div>
        {% endif %}

      </div>
    </div>

  </div>
  {% if current_user.role != 'Airline Staff' %}
  <div class="col ml-2">
    <h3 class="text-center">Your Future Flights</h3>
    {% for ticket in tickets %}
    {% set flight = ticket.flight%}
    <div style="width:100%" class="row p-4 flight-card">
      <div class="col-sm-3">
        <h4>Departing</h4>
        <div class="text-muted">{{flight.departure_datetime.date()}}</div>
        {% if ticket.booking_agent_id and current_user.role == 'Customer' %}
        <div class="mt-1">Booked by</div>
        <small class="text-muted">{{ticket.booking_agent_id }}</small>
        {% elif ticket.booking_agent_id and current_user.role == 'Booking Agent' %}
        <div class="mt-1">Booked for</div>
        <small class="text-muted">{{ticket.customer.name}} ({{ticket.customer_email}})</small>
        {% endif %}
      </div>
      <div class="col-sm-3">
        <h4>
          {{flight.departure_datetime.strftime('%X')[:-3]}}-{{flight.arrival_datetime.strftime('%X')[:-3   ]}}

          {% if flight.arrival_datetime.day - flight.departure_datetime.day > 0 %}
          <span class="text-muted">+{{flight.arrival_datetime.day - flight.departure_datetime.day}}</span>
          {% endif %}
        </h4>
        <div class="text-muted">{{flight.airline_name}}</div>
        <small class="text-muted">{{flight.flight_number}}</small>
      </div>
      <div class="col-sm-3">
        <h4>
          {% set duration = flight.arrival_datetime-flight.departure_datetime %}
          {{(duration.seconds/3600 + duration.days * 24)|int}}h {{(duration.seconds%3600/60)|int}}m
        </h4>
        <div class="text-muted">
          {{flight.departure_airport}} - {{flight.arrival_airport}}
        </div>
      </div>
      <div class="col text-right">
        <h4>${{flight.base_price}}</h4>
        <div class="text-muted">{{flight.status}}</div>

      </div>
    </div>
    <div class="row pb-2">
      <div class="col text-right">
        <a class="text-muted" href=" {{url_for('view_ticket',ticket_id=ticket.id)}}">view ticket info</a>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <div class="col ml-2">
    <h3 class="text-center">{{current_user.airline_name}}</h3>
    <h4 class="text-center text-muted">Flights in 30 days</h4>
    {% for flight in flights %}
    <div style="width:100%" class="row p-4 flight-card">
      <div class="col-sm-3">
        <h4>Departing</h4>
        <div class="text-muted">{{flight.departure_datetime.date()}}
        </div>
      </div>
      <div class="col-sm-3">
        <h4>
          {{flight.departure_datetime.strftime('%X')[:-3]}}-{{flight.arrival_datetime.strftime('%X')[:-3   ]}}

          {% if flight.arrival_datetime.day - flight.departure_datetime.day > 0 %}
          <span class="text-muted">+{{flight.arrival_datetime.day - flight.departure_datetime.day}}</span>
          {% endif %}
        </h4>
        <div class="text-muted">{{flight.airline_name}}</div>
        <small class="text-muted">{{flight.flight_number}}</small>
      </div>
      <div class="col-sm-3">
        <h4>
          {% set duration = flight.arrival_datetime-flight.departure_datetime %}
          {{(duration.seconds/3600 + duration.days * 24)|int}}h {{(duration.seconds%3600/60)|int}}m
        </h4>
        <div class="text-muted">
          {{flight.departure_airport}} - {{flight.arrival_airport}}
        </div>
      </div>
      <div class="col text-right">
        <h4>${{flight.base_price}}</h4>
        <div class="text-muted">{{flight.status}}</div>
      </div>
    </div>
    <div class="row pb-2">
      <div class="col text-right">
        <a class="text-muted"
          href="{{url_for('edit_flight',flight=flight.airline_name + '-' + flight.flight_number)}}">edit flight
          status</a>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}

</div>





{% endblock content %}