{% extends "layout.html" %}
{% block content %}
<div class="row m-4">
  <h3 class="col m-4 text-center">Airport Management</h3>
</div>

<div class="row m-4">
  <div class="col-6 ml-2 text-center">
    <div style="width:100%" class="row p-4 flight-card">
      <div class="col-sm">
        <h4>Airport</h4>
      </div>
      <div class="col-sm">
        <h4>City </h4>
      </div>
      <div class="col-sm">
        <h4>Country </h4>
      </div>
    </div>
    {% for airport in airports %}
    <div style="width:100%" class="row p-4 flight-card">
      <div class="col-sm">
        <div class="text-muted">{{airport.name}}</div>
      </div>
      <div class="col-sm">
        <div class="text-muted">{{airport.city}}</div>
      </div>
      <div class="col-sm">
        <div class="text-muted">{{airport.country}}</div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="col border border-dark rounded m-4 pl-2">

    <form class='m-4' method="POST" action="">
      <h3 class="text-center">Airport Registration</h3>

      {{form.hidden_tag()}}
      <fieldset class="form-group">
        <div class="row">
          <div class="col form-group form-group-sm">
            {{form.name.label(class="form-control-label")}}
            {% if form.name.errors %}
            {{form.name(class="form-control is-invalid")}}
            <div class="invalid-feedback">
              {% for error in form.name.errors %}
              <span>{{error}}</span>
              {% endfor %}
            </div>
            {% else %}
            {{form.name(class="form-control")}}
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="col form-group form-group-sm">
            {{form.city.label(class="form-control-label")}}
            {% if form.city.errors %}
            {{form.city(class="form-control is-invalid")}}
            <div class="invalid-feedback">
              {% for error in form.city.errors %}
              <span>{{error}}</span>
              {% endfor %}
            </div>
            {% else %}
            {{form.city(class="form-control")}}
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="col form-group form-group-sm">
            {{form.country.label(class="form-control-label")}}
            {% if form.country.errors %}
            {{form.country(class="form-control is-invalid")}}
            <div class="invalid-feedback">
              {% for error in form.country.errors %}
              <span>{{error}}</span>
              {% endfor %}
            </div>
            {% else %}
            {{form.country(class="form-control")}}
            {% endif %}
          </div>
        </div>

      </fieldset>
      <div class="form-group text-center">
        {{form.submit(class='btn btn-dark')}}
      </div>

    </form>

  </div>
</div>


{% endblock content %}