{% extends "layout.html" %}
{% block content %}
<div class="row m-4">
  <h3 class="col m-4 text-center">Creating a new flight</h3>
</div>
<div class="row m-4">
  <div class="col-3"></div>
  <div class="col border border-dark rounded m-4">
    <form class='m-4' method="POST" action="">
      {{form.hidden_tag()}}
      <fieldset class="form-group">
        <div class="row">
          <div class="col form-group form-group-sm">
            <label class="form-control-label">Airline</label>
            <div class="form-control">{{current_user.airline_name}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col form-group form-group-sm">
            {{form.airplane_id.label(class="form-control-label")}}
            {% if form.airplane_id.errors %}
            {{form.airplane_id(class="form-control is-invalid")}}
            <div class="invalid-feedback">
              {% for error in form.airplane_id.errors %}
              <span>{{error}}</span>
              {% endfor %}
            </div>
            {% else %}
            {{form.airplane_id(class="form-control")}}
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="col form-group form-group-sm">
            {{form.flight_number.label(class="form-control-label")}}
            {% if form.flight_number.errors %}
            {{form.flight_number(class="form-control is-invalid")}}
            <div class="invalid-feedback">
              {% for error in form.flight_number.errors %}
              <span>{{error}}</span>
              {% endfor %}
            </div>
            {% else %}
            {{form.flight_number(class="form-control")}}
            {% endif %}
          </div>
          <div class="col form-group form-group-sm">
            {{form.base_price.label(class="form-control-label")}}
            {% if form.base_price.errors %}
            {{form.base_price(class="form-control is-invalid")}}
            <div class="invalid-feedback">
              {% for error in form.base_price.errors %}
              <span>{{error}}</span>
              {% endfor %}
            </div>
            {% else %}
            {{form.base_price(class="form-control")}}
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="col form-group form-group-sm">
            {{form.departure_airport.label(class="form-control-label")}}
            {% if form.departure_airport.errors %}
            {{form.departure_airport(class="form-control is-invalid")}}
            <div class="invalid-feedback">
              {% for error in form.departure_airport.errors %}
              <span>{{error}}</span>
              {% endfor %}
            </div>
            {% else %}
            {{form.departure_airport(class="form-control")}}
            {% endif %}
          </div>
          <div class="col form-group form-group-sm">
            {{form.arrival_airport.label(class="form-control-label")}}
            {% if form.arrival_airport.errors %}
            {{form.arrival_airport(class="form-control is-invalid")}}
            <div class="invalid-feedback">
              {% for error in form.arrival_airport.errors %}
              <span>{{error}}</span>
              {% endfor %}
            </div>
            {% else %}
            {{form.arrival_airport(class="form-control")}}
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="col form-group form-group-sm">
            {{form.departure_datetime.label(class="form-control-label")}}
            {% if form.departure_datetime.errors %}
            {{form.departure_datetime(class="form-control is-invalid")}}
            <div class="invalid-feedback">
              {% for error in form.departure_datetime.errors %}
              <span>{{error}}</span>
              {% endfor %}
            </div>
            {% else %}
            {{form.departure_datetime(class="form-control",type='datetime-local')}}
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="col form-group form-group-sm">
            {{form.arrival_datetime.label(class="form-control-label")}}
            {% if form.arrival_datetime.errors %}
            {{form.arrival_datetime(class="form-control is-invalid")}}
            <div class="invalid-feedback">
              {% for error in form.arrival_datetime.errors %}
              <span>{{error}}</span>
              {% endfor %}
            </div>
            {% else %}
            {{form.arrival_datetime(class="form-control",type='datetime-local')}}
            {% endif %}
          </div>
        </div>

      </fieldset>
      <div class="form-group text-center">
        {{form.submit(class='btn btn-dark')}}
      </div>

    </form>

  </div>
  <div class="col-3"></div>

</div>




{% endblock content %}