{% extends "layout.html" %}
{% block content %}
<form class="form-group" method="POST" action="">
  {{ form.hidden_tag() }}

  <div class="row border border-dark rounded m-4">
    <div style="width:100%" class="row m-4 flight-card">
      <div class="col-sm-2">
        <h4>Departing</h4>
        <div class="text-muted">{{flight.departure_datetime.date()}}</div>
      </div>
      <div class="col-sm-3">
        <h4>
          {{flight.departure_datetime.strftime('%X')[:-3]}}-{{flight.arrival_datetime.strftime('%X')[:-3   ]}}

          {% if flight.arrival_datetime.day - flight.departure_datetime.day > 0 %}
          <span class="text-muted">+{{flight.arrival_datetime.day - flight.departure_datetime.day}}</span>
          {% endif %}
        </h4>
        <div class="text-muted">{{flight.airline_name}}</div>
        <small class="text-muted">{{flight.flight_number}}</small>
      </div>
      <div class="col-sm-3">
        <h4>
          {% set duration = flight.arrival_datetime-flight.departure_datetime %}
          {{(duration.seconds/3600 + duration.days * 24)|int}}h {{(duration.seconds%3600/60)|int}}m
        </h4>
        <div class="text-muted">
          {{flight.departure_airport}} - {{flight.arrival_airport}}
        </div>
      </div>
      <div class="col text-right">
        <h4>${{flight.base_price}}</h4>
        <div class="text-muted">{{flight.seats_left}} seats left</div>
        {{form.status(class='form-control')}}
      </div>
    </div>

  </div>
  <div class='text-right m-4'>
    {{form.submit(class='btn btn-dark')}}
  </div>
</form>




{% endblock content %}