{% extends "layout.html" %}
{% block content %}

{% if current_user.role == 'Customer' %}
<div class="row">
  <div class="col-3"></div>

  <div class="col p-4 content-section border border-dark rounded">
    <form method="POST" action="">
      {{form.hidden_tag()}}
      <div class="pb-2 border-bottom border-dark">

        <h4 class="account-heading">Name</h4>
        {{form.name(class='form-control account-heading',placeholder='Name',value=current_user.name or "")}}
        <div class="text-secondary mt-1">{{current_user.real_id}}</div>
        <div class="text-secondary">{{current_user.role}} Account</div>

      </div>

      <div class="pt-2">
        <div class="account-heading">Address</div>
        {{form.address_building_number(class='form-control',placeholder='Building Number',value=current_user.address_building_number or "")}}
        {{form.address_street(class='form-control',placeholder='Street',value=current_user.address_street or "")}}
        {{form.address_city(class='form-control',placeholder='City',value=current_user.address_city or "")}}
        {{form.address_state(class='form-control',placeholder='State',value=current_user.address_state or "")}}
        <div class="account-heading mt-2">Phone Number</div>
        {{form.phone_number(class='form-control',placeholder='Phone Number',value=current_user.phone_number or "")}}
        <div class="account-heading mt-2">Passport Info</div>
        {{form.passport_number(class='form-control',placeholder='Passport Number',value=current_user.passport_number or "")}}
        {{form.passport_expiration(class='form-control',type='date',placeholder='Passport Expiration',value=current_user.passport_expiration or "")}}
        {{form.passport_country(class='form-control',placeholder='Passport Country',value=current_user.passport_country or "")}}

        <div class="account-heading mt-2">Date of Birth</div>
        {{form.date_of_birth(class='form-control',type='date',placeholder='Date of Birth',value=current_user.date_of_birth or "")}}

      </div>
      <div class="text-right mt-2">
        <div class="form-group">
          {{form.submit(class='btn btn-dark')}}
        </div>
      </div>
    </form>
  </div>
  <div class="col-3"></div>

</div>
{% endif %}

{% endblock content %}