{% extends "layout.html" %}
{% block content %}
<div class="row m-4">
    <h3 class="col m-4 text-center">Login as {{role}}</h3>
</div>
<div class="row m-4">

    <div class="col-3"></div>
    <div class="col border border-dark rounded m-4">
        <form class='m-4' method="POST" action="">
            {{form.hidden_tag()}}


            <fieldset class="form-group">
                {% if role != "Airline Staff" %}
                <div class="form-group form-group-sm">
                    {{form.email.label(class="form-control-label")}}

                    {% if form.email.errors %}
                    {{form.email(class="form-control is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{form.email(class="form-control")}}
                    {% endif %}
                </div>
                {% else %}
                <div class="form-group form-group-sm">
                    {{form.username.label(class="form-control-label")}}

                    {% if form.username.errors %}
                    {{form.email(class="form-control is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{form.username(class="form-control")}}
                    {% endif %}
                </div>
                {% endif %}


                <div class="form-group form-group-sm">
                    {{form.password.label(class="form-control-label")}}

                    {% if form.password.errors %}
                    {{form.password(class="form-control is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{form.password(class="form-control")}}
                    {% endif %}
                </div>
                <div class="custom-control custom-checkbox">
                    {{form.remember(class="custom-control-input")}}
                    {{form.remember.label(class="custom-control-label")}}
                </div>

            </fieldset>
            <div class="form-group text-center">
                {{form.submit(class='btn btn-dark')}}
            </div>
            <div class="border-top pt-3 text-center">
                <small class='text-muted'>Forgot Password? <a class="ml-2 text-dark" href="#">Reset</a>
                    &emsp;
                    Need an Account? <a class="ml-2 text-dark" href="{{url_for('register')}}">Register</a>
                </small>
            </div>

        </form>
    </div>
    <div class="col-3"></div>



</div>
<div class="row">
    <small class='col text-muted text-center'>
        Not a {{role}}?&emsp;Login as
        {% if role == "Customer" %}
        <a class="ml-2 text-dark" href="{{url_for('login',role='Booking Agent')}}">Booking
            Agent</a>
        or<a class="ml-2 text-dark" href="{{url_for('login',role='Airline Staff')}}">Airline Staff</a>

        {% elif role == "Booking Agent" %}
        <a class="ml-2 text-dark" href="{{url_for('login',role='Customer')}}">Customer</a>
        or<a class="ml-2 text-dark" href="{{url_for('login',role='Airline Staff')}}">Airline Staff</a>

        {% elif role == "Airline Staff" %}
        <a class="ml-2 text-dark" href="{{url_for('login',role='Customer')}}">Customer</a>
        or<a class="ml-2 text-dark" href="{{url_for('login',role='Booking Agent')}}">Booking Agent</a>

        {% endif %}
    </small>

</div>




{% endblock content %}