{% extends "layout.html" %}
{% block content %}
<div class="row border border-dark rounded m-4">
  {% for flight in flights %}

  <div style="width:100%" class="row m-4 flight-card">
    <div class="col-sm-2">
      <h4>Departing</h4>
      <div class="text-muted">{{flight.departure_datetime.date()}}</div>
    </div>
    <div class="col-sm-3">
      <h4>
        {{flight.departure_datetime.strftime('%X')[:-3]}}-{{flight.arrival_datetime.strftime('%X')[:-3   ]}}

        {% if flight.arrival_datetime.day - flight.departure_datetime.day > 0 %}
        <span class="text-muted">+{{flight.arrival_datetime.day - flight.departure_datetime.day}}</span>
        {% endif %}
      </h4>
      <div class="text-muted">{{flight.airline_name}}</div>
      <small class="text-muted">{{flight.flight_number}}</small>
    </div>
    <div class="col-sm-3">
      <h4>
        {% set duration = flight.arrival_datetime-flight.departure_datetime %}
        {{(duration.seconds/3600 + duration.days * 24)|int}}h {{(duration.seconds%3600/60)|int}}m
      </h4>
      <div class="text-muted">
        {{flight.departure_airport}} - {{flight.arrival_airport}}
      </div>
    </div>
    <div class="col text-right">
      <h4>${{flight.base_price}}</h4>
      <div class="text-muted">{{flight.seats_left}} seats left</div>
      <div class="text-muted">{{flight.status}}</div>
    </div>
  </div>

  {% endfor %}

</div>
<div class="row m-4">
  <div class="col text-center">
    {% if current_user.role == 'Customer' %}
    <h2 class="text-center">Ordering for</h2>
    <div class="text-secondary">{{current_user.real_id}} ({{current_user.display_name}})</div>
    {% elif current_user.role == 'Booking Agent' %}
    <h2 class="account-heading">Ordering with</h2>
    <div class="text-secondary">Booking Agent ID: {{current_user.booking_agent_id}}</div>
    {% endif %}
  </div>
</div>
<div class="row m-4">
  <div class="col"></div>
  <div class="col-6  border border-dark rounded">
    <form class='m-4' method="POST" action="">
      {{form.hidden_tag()}}
      <fieldset class="form-group">
        {% if current_user.role == 'Booking Agent' %}
        <div class="row">
          <div class="col form-group form-group-sm">
            {{form.customer_email.label(class="form-control-label")}}
            {% if form.customer_email.errors %}
            {{form.customer_email(class="form-control is-invalid")}}
            <div class="invalid-feedback">
              {% for error in form.customer_email.errors %}
              <span>{{error}}</span>
              {% endfor %}
            </div>
            {% else %}
            {{form.customer_email(class="form-control")}}
            {% endif %}
          </div>
        </div>
        {% endif %}
        <div class="row">
          <div class="col form-group form-group-sm">
            {{form.payment_card_type.label(class="form-control-label")}}
            {% if form.payment_card_type.errors %}
            {{form.payment_card_type(class="form-control is-invalid")}}
            <div class="invalid-feedback">
              {% for error in form.payment_card_type.errors %}
              <span>{{error}}</span>
              {% endfor %}
            </div>
            {% else %}
            {{form.payment_card_type(class="form-control")}}
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="col form-group form-group-sm">
            {{form.payment_card_number.label(class="form-control-label")}}
            {% if form.payment_card_number.errors %}
            {{form.payment_card_number(class="form-control is-invalid")}}
            <div class="invalid-feedback">
              {% for error in form.payment_card_number.errors %}
              <span>{{error}}</span>
              {% endfor %}
            </div>
            {% else %}
            {{form.payment_card_number(class="form-control")}}
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="col form-group form-group-sm">
            {{form.payment_card_name.label(class="form-control-label")}}
            {% if form.payment_card_name.errors %}
            {{form.payment_card_name(class="form-control is-invalid")}}
            <div class="invalid-feedback">
              {% for error in form.payment_card_name.errors %}
              <span>{{error}}</span>
              {% endfor %}
            </div>
            {% else %}
            {{form.payment_card_name(class="form-control")}}
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="col form-group form-group-sm">
            {{form.payment_expiration_date.label(class="form-control-label")}}
            {% if form.payment_expiration_date.errors %}
            {{form.payment_expiration_date(class="form-control is-invalid",type='date')}}
            <div class="invalid-feedback">
              {% for error in form.payment_expiration_date.errors %}
              <span>{{error}}</span>
              {% endfor %}
            </div>
            {% else %}
            {{form.payment_expiration_date(class="form-control", type='date')}}
            {% endif %}
          </div>
        </div>

      </fieldset>
      <div class="form-group text-center">
        {{form.submit(class='btn btn-dark')}}
      </div>

    </form>

  </div>
  <div class="col"></div>

</div>




{% endblock content %}