{% extends "layout.html" %}
{% block content %}

<div class="row m-4">
    <h3 class="col m-4 text-center">Top 5 Booking Agent - {{current_user.airline_name}}</h3>
</div>


<div class="row m-4">
    <div class="col"></div>
    <div class="col-6">

        <div class="text-center">Past one year</div>
        <canvas id="commision"></canvas>
        <canvas id="tickets"></canvas>
    </div>
    <div class="col"></div>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<script>
    var ctx = document.getElementById('commision').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'bar',

        // The data for our dataset
        data: {
            labels: [{% for label in top_data['booking_agents'] %}'{{label}}',{% endfor %}],
    datasets: [{
        label: 'Commision',
        backgroundColor: 'rgb(32,32,32)',
        borderColor: 'rgb(0, 0, 0)',
        data: {{ top_data['commision'] }}
            }]
        },

    // Configuration options go here
    options: { }
    });
    var ctx = document.getElementById('tickets').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'bar',

        // The data for our dataset
        data: {
            labels: [{% for label in top_data['booking_agents'] %}'{{label}}',{% endfor %}],
    datasets: [{
        label: 'Tickets Bought',
        backgroundColor: 'rgb(32,32,32)',
        borderColor: 'rgb(0, 0, 0)',
        data: {{ top_data['num_of_tickets'] }}
            }]
        },

    // Configuration options go here
    options: { }
    });


</script>


{% endblock content %}