{% extends "layout.html" %}
{% block content %}
<div class="row m-4">
    <h3 class="col m-4 text-center">Join as Customer</h3>
</div>
<div class="row m-4">

    <div class="col-4"></div>
    <div class="col">
        <form method="POST" action="">
            {{form.hidden_tag()}}
            <fieldset class="form-group">
                <div class="form-group form-group-sm">
                    {{form.name.label(class="form-control-label")}}
                    {{form.name(class="form-control")}}
                </div>
                <div class="form-group form-group-sm">
                    {{form.email.label(class="form-control-label")}}
                    {{form.email(class="form-control")}}
                </div>
                <div class="form-group form-group-sm">
                    {{form.password.label(class="form-control-label")}}
                    {{form.password(class="form-control")}}
                </div>
                <div class="form-group form-group-sm">
                    {{form.confirm_password.label(class="form-control-label")}}
                    {{form.confirm_password(class="form-control")}}
                </div>
            </fieldset>
            <div class="form-group">
                {{form.submit(class='btn btn-dark')}}
            </div>

        </form>
        <div class="border-top pt-3">
            <small class='text-muted'>Already Have An Account? <a class="ml-2 text-dark"
                    href="{{url_for('login')}}">Sign In</a>
            </small>
        </div>
    </div>
    <div class="col-4"></div>


</div>




{% endblock content %}